In [15]:
import pandas as pd

# Load the data from both CSV files
predictions_path = './Datasets/results/back_to_v1.csv'
submission_path = './Datasets/test_set_v1.csv'

# Reading the files
predictions_df = pd.read_csv(predictions_path)
submission_df = pd.read_csv(submission_path)

# Display the first few rows of each dataframe to understand their structure
(predictions_df.head(), submission_df.head())

(   floor_area_sqm  lease_commence_date  latitude   longitude  subzone  \
 0            82.0                 1975  1.341005  103.854412       76
 1            92.0                 2014  1.393338  103.914701       97
 2            90.0                 2003  1.321499  103.738982      121
 3            68.0                 1976  1.302113  103.909481       81
 4           110.0                 2002  1.389456  103.772226       43

    rent_approval_year  rent_approval_month  coe_price  Year  Month  ...  \
 0                2022                    1  65851.375  2022      1  ...
 1                2021                    2  44871.000  2021      2  ...
 2                2021                    8  51997.375  2021      8  ...
 3                2021                    7  50467.000  2021      7  ...
 4                2022                    2  71757.125  2022      2  ...

    planning_area_queenstown  planning_area_rochor  planning_area_sembawang  \
 0                         0                     0                        0
 1                         0                     0                        0
 2                         0                     0                        0
 3                         0                     0                        0
 4                         0                     0                        0

    planning_area_sengkang  planning_area_serangoon  planning_area_tampines  \
 0                       0                        0                       0
 1                       0                        0                       0
 2                       0                        0                       0
 3                       0                        0                       0
 4                       0                        0                       0

    planning_area_toa_payoh  planning_area_woodlands  planning_area_yishun  \
 0                        1                        0                     0
 1                        0                        0                     0
 2                        0                        0                     0
 3                        0                        0                     0
 4                        0                        0                     0

    predicted_monthly_rent
 0             2264.302490
 1             2128.982910
 2             2232.974609
 3             2074.701416
 4             2340.175293

 [5 rows x 70 columns],
    floor_area_sqm  lease_commence_date  latitude   longitude  subzone  \
 0           121.0                 1984  1.358411  103.891722       77
 1           100.0                 1999  1.446343  103.820817      102
 2            91.0                 1980  1.305719  103.762168       35
 3            74.0                 1986  1.344832  103.730778      150
 4           121.0                 1983  1.345437  103.735241      150

    rent_approval_year  rent_approval_month   coe_price  Year  Month  ...  \
 0                2023                    1   92845.000  2023      1  ...
 1                2022                    9   92942.625  2022      9  ...
 2                2023                    7  104442.375  2023      7  ...
 3                2021                    8   51997.375  2021      8  ...
 4                2022                    3   79016.000  2022      3  ...

    planning_area_punggol  planning_area_queenstown  planning_area_rochor  \
 0                      0                         0                     0
 1                      0                         0                     0
 2                      0                         0                     0
 3                      0                         0                     0
 4                      0                         0                     0

    planning_area_sembawang  planning_area_sengkang  planning_area_serangoon  \
 0                        0                       0                        0
 1                        1                       0                        0
 2                        0                       0                        0
 3                        0                       0                        0
 4                        0                       0                        0

    planning_area_tampines  planning_area_toa_payoh  planning_area_woodlands  \
 0                       0                        0                        0
 1                       0                        0                        0
 2                       0                        0                        0
 3                       0                        0                        0
 4                       0                        0                        0

    planning_area_yishun
 0                     0
 1                     0
 2                     0
 3                     0
 4                     0

 [5 rows x 69 columns])

In [16]:
# Drop duplicates in the 'predictions' dataframe while keeping the first occurrence
predictions_df_unique = predictions_df.drop_duplicates(subset=[
    'flat_type', 'floor_area_sqm', 'lease_commence_date', 'latitude', 'longitude',
    'year', 'month', 'resale_price_index', 'average_school_rank'
], keep='first')

# Merge again with the deduplicated 'predictions' dataframe
merged_df_unique = submission_df.merge(predictions_df_unique, how='left', on=[
    'flat_type', 'floor_area_sqm', 'lease_commence_date', 'latitude', 'longitude',
    'year', 'month', 'resale_price_index', 'average_school_rank'
])

# Check the number of rows in the merged dataframe and if there are any empty values
num_rows_merged_unique = merged_df_unique.shape[0]
empty_values_unique = merged_df_unique.isnull().sum()

merged_df_unique.to_csv('./Datasets/results/submission predictions 2023-11-12-test set v1-filled.csv', index=False)

KeyError: Index(['flat_type', 'resale_price_index', 'month', 'average_school_rank',
       'year'],
      dtype='object')

In [17]:
# Drop duplicates in the 'predictions' dataframe while keeping the first occurrence
predictions_df_unique = predictions_df.drop_duplicates(subset=[
    'floor_area_sqm', 'lease_commence_date', 'latitude', 'longitude', 'subzone', 'rent_approval_year',
    'rent_approval_month', 'coe_price', 'Year', 'Month', 'Stock_Price', 'mrt_nearest_distance', 'mrt_count_within_1km',
    'mall_nearest_distance', 'mall_count_within_1km', 'mrt_planned_nearest_distance', 'mrt_planned_count_within_1km',
    'flat_type_ordinal', 'distance_to_centroid_marina_bay'
], keep='first')

# Merge again with the deduplicated 'predictions' dataframe
merged_df_unique = submission_df.merge(predictions_df_unique, how='left', on=[
    'floor_area_sqm', 'lease_commence_date', 'latitude', 'longitude', 'subzone', 'rent_approval_year',
    'rent_approval_month', 'coe_price', 'Year', 'Month', 'Stock_Price', 'mrt_nearest_distance', 'mrt_count_within_1km',
    'mall_nearest_distance', 'mall_count_within_1km', 'mrt_planned_nearest_distance', 'mrt_planned_count_within_1km',
    'flat_type_ordinal', 'distance_to_centroid_marina_bay'
])

# Check the number of rows in the merged dataframe and if there are any empty values
num_rows_merged_unique = merged_df_unique.shape[0]
empty_values_unique = merged_df_unique.isnull().sum()

merged_df_unique.to_csv('./Datasets/results/submission predictions 2023-11-12-test set v1-filled.csv', index=False)