In [47]:
import pandas as pd

# Load the training set
train_set_path = './Datasets/cleaned_train.csv'
test_set_path = './Datasets/cleaned_test.csv'
train_set = pd.read_csv(train_set_path)
test_set = pd.read_csv(test_set_path)

# Display the first few rows of the training set to understand its structure
train_set.head()

,town,flat_model,floor_area_sqm,lease_commence_date,latitude,longitude,subzone,planning_area,region,monthly_rent,...,mall_nearest_distance,mall_nearest,mall_count_within_1km,mrt_planned_nearest_distance,mrt_planned_nearest,mrt_planned_count_within_1km,flat_type_ordinal,distance_to_centroid_marina_bay,lease_duration,school_score
0,jurong east,new generation,67.0,1983,1.344518,103.738630,yuhua east,jurong east,west region,1600,...,1203.0,Westgate,0,699.0,Chinese Garden,1,2,15.578180,40,280.1
1,bedok,new generation,92.0,1978,1.330186,103.938717,bedok north,bedok,east region,2250,...,1114.0,Djitsun Mall Bedok,0,899.0,Tanah Merah,1,3,9.311841,45,329.3
2,toa payoh,improved,67.0,1971,1.332242,103.845643,toa payoh central,toa payoh,central region,1900,...,468.0,HDB Hub,3,219.0,Toa Payoh,4,2,5.493976,52,368.1
3,pasir ris,apartment,149.0,1993,1.370239,103.962894,pasir ris drive,pasir ris,east region,2850,...,402.0,Loyang Point,1,1546.0,Pasir Ris,0,5,14.110320,30,254.6
4,kallang/whampoa,improved,68.0,1972,1.320502,103.863341,bendemeer,kallang,central region,2100,...,1073.0,Aperia,0,188.0,Boon Keng,3,2,3.686250,51,239.5

In [48]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
# Assume 'X' contains the features and 'y' is the target variable in your datasets
features = train_set.drop('monthly_rent', axis=1)
target = train_set['monthly_rent']
test_features = test_set.drop('monthly_rent', axis=1)

# Drop the specified columns
columns_to_drop = ['town', 'region', 'mrt_nearest', 'mall_nearest', 'mrt_planned_nearest']
features = features.drop(columns_to_drop, axis=1)
test_features = test_features.drop(columns_to_drop, axis=1)

# Identify the remaining categorical columns
remaining_categorical_columns = ['flat_model', 'subzone', 'planning_area']

# Apply one-hot encoding to 'flat_model' and 'planning_area'
one_hot_columns = ['flat_model', 'planning_area']

# Reinitialize the encoders
encoder = OneHotEncoder(sparse_output=False, handle_unknown='ignore')
label_encoder = LabelEncoder()

# Apply one-hot encoding to 'flat_model' and 'planning_area'
features_one_hot = encoder.fit_transform(features[one_hot_columns])
features_one_hot = pd.DataFrame(features_one_hot, columns=encoder.get_feature_names_out(one_hot_columns))
test_features_one_hot = encoder.transform(test_features[one_hot_columns])
test_features_one_hot = pd.DataFrame(test_features_one_hot, columns=encoder.get_feature_names_out(one_hot_columns))
###

# Apply label encoding to 'subzone'
features['subzone'] = label_encoder.fit_transform(features['subzone'])
test_features['subzone'] = label_encoder.transform(test_features['subzone'])

# Combine the processed data
features = features.drop(one_hot_columns, axis=1)
features = pd.concat([features, features_one_hot], axis=1)
# Combine the processed data
test_features = test_features.drop(one_hot_columns, axis=1)
test_features = pd.concat([test_features, test_features_one_hot], axis=1)

In [49]:
features.shape, test_features.shape, features_one_hot.shape, test_features_one_hot.shape

((60000, 69), (30000, 69), (60000, 48), (30000, 48))

In [50]:
features.head()

,floor_area_sqm,lease_commence_date,latitude,longitude,subzone,rent_approval_year,rent_approval_month,coe_price,Year,Month,...,planning_area_punggol,planning_area_queenstown,planning_area_rochor,planning_area_sembawang,planning_area_sengkang,planning_area_serangoon,planning_area_tampines,planning_area_toa payoh,planning_area_woodlands,planning_area_yishun
0,67.0,1983,1.344518,103.738630,149,2021,9,54951.625,2021,9,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,92.0,1978,1.330186,103.938717,8,2022,5,77035.625,2022,5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,67.0,1971,1.332242,103.845643,128,2022,10,89580.250,2022,10,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,149.0,1993,1.370239,103.962894,91,2021,8,51997.375,2021,8,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,68.0,1972,1.320502,103.863341,12,2022,11,99472.875,2022,11,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [51]:
import datetime
from xgboost import XGBRegressor
from sklearn.model_selection import train_test_split
import pandas as pd
from tpot import TPOTRegressor
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

# Average CV score on the training set was: -233688.91533545233
exported_pipeline = XGBRegressor(learning_rate=0.025, max_depth=5, min_child_weight=8, n_estimators=600, n_jobs=1, subsample=0.8)
# Fix random state in exported estimator
if hasattr(exported_pipeline, 'random_state'):
    setattr(exported_pipeline, 'random_state', 42)

exported_pipeline.fit(features, target)
results = exported_pipeline.predict(test_features)

# Convert results to DataFrame
results_df = pd.DataFrame(results, columns=['predictions'])

# Get model hyperparameters and current time
hyperparameters = exported_pipeline.get_params()
current_time = datetime.datetime.now().strftime("%Y-%m-%d %H:%M:%S")
current_time_for_filename = datetime.datetime.now().strftime("%Y-%m-%d_%H-%M-%S")

# Append hyperparameters and time to the DataFrame
results_df['model_hyperparameters'] = str(hyperparameters)
results_df['timestamp'] = current_time

# Save the results to a CSV file
output_filepath = f'./Datasets/results/predictions {current_time_for_filename}.csv'
results_df.to_csv(output_filepath, index=False)

C:\Users\User\.conda\envs\Project-tpot\Lib\site-packages\xgboost\data.py:312: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(dtype):
C:\Users\User\.conda\envs\Project-tpot\Lib\site-packages\xgboost\data.py:314: FutureWarning: is_categorical_dtype is deprecated and will be removed in a future version. Use isinstance(dtype, CategoricalDtype) instead
  elif is_categorical_dtype(dtype) and enable_categorical:
C:\Users\User\.conda\envs\Project-tpot\Lib\site-packages\xgboost\data.py:345: FutureWarning: is_categorical_dtype is deprecated and will be removed in a future version. Use isinstance(dtype, CategoricalDtype) instead
  if is_categorical_dtype(dtype)
C:\Users\User\.conda\envs\Project-tpot\Lib\site-packages\xgboost\data.py:336: FutureWarning: is_categorical_dtype is deprecated and will be removed in a future version. Use isinstance(dtype, CategoricalDtype) instead
  return is_int or is_bool or is_float or is_categorical_dtype(dtype)
C:\Users\User\.conda\envs\Project-tpot\Lib\site-packages\xgboost\data.py:440: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(data):
C:\Users\User\.conda\envs\Project-tpot\Lib\site-packages\xgboost\data.py:312: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(dtype):
C:\Users\User\.conda\envs\Project-tpot\Lib\site-packages\xgboost\data.py:314: FutureWarning: is_categorical_dtype is deprecated and will be removed in a future version. Use isinstance(dtype, CategoricalDtype) instead
  elif is_categorical_dtype(dtype) and enable_categorical:
C:\Users\User\.conda\envs\Project-tpot\Lib\site-packages\xgboost\data.py:345: FutureWarning: is_categorical_dtype is deprecated and will be removed in a future version. Use isinstance(dtype, CategoricalDtype) instead
  if is_categorical_dtype(dtype)
C:\Users\User\.conda\envs\Project-tpot\Lib\site-packages\xgboost\data.py:336: FutureWarning: is_categorical_dtype is deprecated and will be removed in a future version. Use isinstance(dtype, CategoricalDtype) instead
  return is_int or is_bool or is_float or is_categorical_dtype(dtype)